/* section first-page*/

.wrapper__align-center    
    justify-content: space-between

.header
    display: flex
    justify-content: space-between
    padding-top: 10px

.logo
    justify-self: flex-start      
    cursor: pointer

.menu
    display: flex
    flex-flow: row nowrap
    align-items: center
    font-family: ubuntumedium
    font-size: 13px
    color: #ffffff
    text-transform: uppercase
    height: 100%    
    cursor: pointer

.menu > :first-child
    @include tablets    
        display: none

.menu-item
    display: flex
    padding-left: 15px
    margin-right: 15px
    

.menu-item__circle
    position: relative
    &::before
        content: ""
        width: 2px
        height: 2px
        border: 1px solid #ffffff 
        border-radius: 50%
        background: #ffffff
        position: absolute
        top: 45%
        left: 1%
    @include tablets
        display: none

.hamburger__menu
    display: none
    cursor: pointer
    @include tablets
        display: flex
        justify-content: center
        width: 25px
        height: 25px
        

@include tablets
    .icon-menu
        display: flex
        justify-content: center
        width: 25px
        height: 25px
        fill: #ffffff
    
.button-order
    border-radius: 5px
    background-color: $red
    width: 97px
    height: 35px
    align-items:  center
    &:hover
        background-color: #c1401e
    @include tablets  


.first-page__wrap
    display: flex
    justify-content: center
    font-family: 'lifehackmedium', sans-serif
    flex-flow: row nowrap
    width: 100%
    @include tablets
        flex-flow: column nowrap
        align-items: center

.first-page__burger
    @include phones
        width: 70%
        img
            width: 100%

.first-page__text
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    font-size: 62px
    color: #ffffff
    padding: 5% 1%
    @include tablets
        flex-flow: column nowrap
        align-items: center
    @include phones
        width: 80%
        font-size: 50px
        text-align: center

.text-yellow
    @include h1__title
    @include tablets
        margin-bottom: 5%
    @include phones
        font-size: 60px



.first-page__arrow
    display: flex
    justify-content: center
    height: 35px
    margin-bottom: 40px

.first-page__arrow-img
    display: flex
    background-size: 35px 35px
    transition: .3s
    fill: #ffffff