.menu-burger
    justify-content: space-between

.menu__title
    display: flex
    justify-content: flex-end
    flex-basis: 24%
    height: 100vh
    margin-left: 3%
    @include tablets
        flex-basis: 0%
        display: none
    p 
        @include h1__title
        color: #ffffff
        padding-top: 75px
        margin-right: 20%
        @include tablets
            padding-left: 24px

.menu__accordion
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    flex-basis: 74%
    height: 100vh
    @include tablets
        flex-basis: 100%

.menu__trigger 
    display: flex
    flex-flow: row nowrap
    height: 100vh
    background-repeat: no-repeat
    background-size: 80px 100vh
    #checkbox-1,
    #checkbox-2,
    #checkbox-3
        display: none  

.menu__trigger.is-active > .menu__checkbox
    color: $yellow
    
.menu__checkbox 
    display: flex
    color: white
    cursor: pointer
    @include gagalin
    font-size: 40px
    height: 100%
    
.menu__checkbox-title   
    display: flex
    justify-content: center
    align-items: center
    white-space: nowrap   
    transform: rotate(-90deg)
    width: 80px
    height: 100%

// #checkbox-1:checked + .menu__checkbox-title,
// #checkbox-2:checked + .menu__checkbox-title,
// #checkbox-3:checked + .menu__checkbox-title
//     color: $yellow

// #checkbox-1:checked ~ .menu__content,
// #checkbox-2:checked ~ .menu__content,
// #checkbox-3:checked ~ .menu__content    
//     width: 340px
//     transition: width 0.3s ease-in-out
//     padding: 10px 10px
//     @include tablets
//         width: 89%
//         transition: none
    
.menu__content 
    width: 0px
    height: 100vh    
    padding: 10px 0
    overflow: hidden
    transition: width 0.5s ease-in-out
    text-transform: none
    @include ubuntulight
    background-color: rgb(47, 50, 52)
    opacity: 0.929
    @include tablets
        font-size: 16px
        transition: none



   