.popup__review 
    background: #000000
    opacity: 0.8
    border-radius: 5px
    z-index: 1000
    
.popup__review-container 
    position: relative

.popup__review-content 
    width: 460px
    background: #fff
    color: #000
    opacity: 1.0
    @include phones
        width: 300px
        
.popup__review-title
    @include gagalin
    color: #000000
    margin-bottom: 20px

.popup__review-text
    line-height: 1.714

.popup__close    
    position: absolute
    right: -10px
    top: -20px
    stroke: #e35028
    stroke-width: 4px
    cursor: pointer
    width: 50px
    height: 50px
    text-align: center
    padding-top: 10px
    @include tablets 
        display: none

    // custom fancybox x
// .fancybox-close-small
//     color: #e35028 !important

.popup__close-img
    height: 25px 
    width: 25px

.fancybox-slide:before 
    @include tablets 
        margin-right: -40% !important
    @include phones
        margin-right: auto !important

.fancybox-container
    @include phones
        width: 100vw !important

.fancybox-content
    @include tablets 
        vertical-align: baseline !important
    @include phones
        vertical-align: baseline !important