.review
    background: #000000

.review-list
    display: flex
    flex-wrap: wrap
    width: 100%

.review-item
    width: 25%
    height: 50%
    position: relative
    @include tablets
        width: 50%
        height: 25%

.review-img
    position: absolute
    top: 0
    left: 0
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width: 100%
    height: 100%
    filter: grayscale(100%)
  
.review-text
    width: 100%
    height: 100%
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    color: #ffffff
    padding: 20% 7%
    opacity: 0
    &:hover
        opacity: 1
    @include tablets
        text-align: center
        padding: 10% 7%
    @include phones
    justify-content: center

.review-text__title
    text-transform: uppercase
    @include gagalin
    @include tablets
        margin-bottom: 15px
    @include phones
        font-size: 24px
        margin-bottom: 30px

.review-text__content
    line-height: 1.714
    @include tablets
        margin-bottom: 25px
    @include phones
        display: none

.review-text__btn
    width: 110px
    height: 35px
    background: #2f3234
    color: #ffffff 
    border: 0px
    border-radius: 5px
    font-family: 'ubuntumedium', sans-serif 
    font-size: 13px
    letter-spacing: 1.5px
    text-transform: uppercase
    cursor: pointer
    &:hover
        background: #1f2122
    @include tablets
        margin: auto auto
    @include phones
        margin: 0px auto

    

